body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

footer {
    background: #222;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}